.header h3 {
    font-weight: bold;
    border-right: 1px solid #1d2024;
}
.container-table {
    margin: 2rem;
    margin-top: 3rem;
    padding: .5rem;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    position: relative;
    background-color: #f1f1f1;
}
.container-table .table thead tr {
    background: linear-gradient(90deg, rgba(29,32,36,1) 0%, rgba(52,26,78,1) 100%);
    box-shadow: 2px 2px 3px rgba(0,0,0,.3);
    color: #fff;
}
.container-table .table tbody tr {
    background: #fff;
}

.container-table button {
    position: relative;
    background: none;
    border: none;
}
.container-table button::before {
    content: '.';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    color: transparent;
}